{% extends "foodie/base.html" %}

{% block content %}

    <div class="container d-flex justify-content-center" >
        <div class="d-flex flex-column justify-content-center">
            {% for item in items %}
            <div class="d-flex m-2 mt-2">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ item.img.url }}">
                        <div class="card-body">
                            <h2 class="fw-normal text-secondary"><a href="{% url 'detailed' item.id %}" class="card-title text-secondary text-decoration-none streched-link">{{ item.title }}</a></h2>
                            <small class="card-text d-block">{{ item.desc }}</small>
                            <small class="d-flex justify-content-end">Price</small>
                            <a href="#" class="btn btn-outline-info float-end">{{ item.price }}</a>
                        </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}